<div id="entry-summary">
  <h1><%= link_to @entry.title, @entry.url %></h1>
  <p class="metadata">
    Submitted <%= time_ago_in_words(@entry.created_at) %> ago by <%= @entry.email %>
  </p>
</div>

<div id="comments">
  <h2>Comments</h2>

  <% if @comments.empty? %>
    <p>No one has commented on this yet.</p>
  <% else %>
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  <% end %>
</div>
