.navbar .brand {
  color: white;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-small {
  padding-top: 4px;
}

.gravatar img {
  border-radius: 8px;
}

.gravatar-small img {
  border-radius: 3px;
}

#entry-summary {
  border-bottom: 1px solid #eee;
}

.comment {
  margin-bottom: 10px;
}
